<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::head"></head>

<body>
<div class="container">
    <!-- Sing in  Form -->
    <div class="signin-content">
        <div class="signin-image">
            <figure><img alt="sing up image" th:src="@{/images/signup-image.jpg}"></figure>
            <a class="signup-image-link" th:href="@{/authenticate/login}">I am already member</a>
        </div>

        <div class="signin-form">
            <h2 class="form-title">Change Password</h2>
            <div class="alert alert-success" role="alert" th:if="${passwordUpdateMsg != null}">
                <p th:text="${passwordUpdateMsg}"></p>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${tokenError != null}">
                <p th:text="${tokenError}"></p>
            </div>

            <form class="register-form" enctype="multipart/form-data" id="login-form" method="POST"
                  th:action="@{/reset/password/change}"
                  th:object="${forgotPassword}">
                <!--                <div class="form-group">-->
                <!--                    <div class="alert alert-danger" th:if="${loginerr != null}">-->
                <!--                        <p th:text="${loginerr}"></p>-->
                <!--                    </div>-->
                <!--                </div>-->


                <div class="form-group">
                    <label for="password"><i class="zmdi zmdi-lock"></i></label>
                    <input id="password" name="password" placeholder="password"
                           th:field="*{password}" type="password"/>
                </div>
                <div class="form-group">
                    <label for="repeatPassword"><i class="zmdi zmdi-lock"></i></label>
                    <input id="repeatPassword" name="repeatPassword" placeholder="repeatPassword"
                           th:field="*{repeatPassword}" type="password"/>
                </div>


                <div class="form-group">
                    <input id="token" name="token"
                           th:field="*{token}" type="hidden"/>
                </div>

                <div class="form-group form-button">
                    <input class="form-submit" id="pwdReset" name="pwdReset" type="submit" value="Change Password"/>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Libs JS -->
<div th:replace="layouts::JS-Include"></div>
</body>
</html>