<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::head"></head>

<body>
<div class="container">
    <!-- Sing in  Form -->
    <div class="signin-content">
        <div class="signin-image">
            <figure><img alt="sing up image" th:src="@{/images/signup-image.jpg}"></figure>
            <a class="signup-image-link" th:href="@{/login}">I am already member</a>
        </div>

        <div class="signin-form">
            <h2 class="form-title">Forgot Password</h2>
            <!--            <div class="alert alert-danger" role="alert" th:if="${resetPasswordMsg != null}">-->
            <!--                <p th:text="${resetPasswordMsg}"></p>-->
            <!--            </div>-->
            <form class="register-form" enctype="multipart/form-data" id="login-form" method="POST"
                  th:action="@{/password/request}"
                  th:object="${resetPasswordData}">
                <!--                                <div class="form-group">-->
                <!--                                    <div class="alert alert-danger" th:if="${resetPasswordMsg != null}">-->
                <!--                                        <p th:text="${resetPasswordMsg}"></p>-->
                <!--                                    </div>-->
                <!--                                </div>-->

                <div class="form-group">
                    <label for="email"><i class="zmdi zmdi-lock"></i></label>
                    <input id="email" name="email" placeholder="email"
                           th:field="${resetPasswordData.email}" type="email"/>
                </div>
                <div class="form-group form-button">
                    <input class="form-submit" id="pwdReset" name="pwdReset" type="submit" value="Reset Password"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Libs JS -->
<div th:replace="layouts::JS-Include"></div>
</body>
</html>