<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::head"></head>

<body>
<div class="container">
    <!-- Sing in  Form -->
    <div class="signin-content">

        <div class="signin-form">
            <form class="register-form" id="login-form" method="POST" name="logoutForm"
                  th:action="@{/logout}">
                <div class="form-group form-button">
                    <input class="form-submit" id="logout" name="logout" type="submit" value="Logout"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Libs JS -->
<div th:replace="layouts::JS-Include"></div>
</body>
</html>