<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Sign Up Form by Color</title>

    <!-- Font Icon -->
    <link href="../../fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet"
          th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<div th:fragment="JS-Include">
    <!-- JS -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</div>
</html>